<div class="details-container">
  <div class="form-header">
    <h1>{{ myForm?.name }}</h1>
    <p>{{ myForm?.description }}</p>
  </div>

  @for (question of myForm?.questions; track $index) {
    <div class="question">
      <h3>{{$index+1}}º {{ question.statement }}</h3>
        @for (option of question.options; track $index) {
          <div class="options">
            <label>
              <input
                type="radio"
                [name]="'question_' + question.id"
                [value]="option.id"
                required>
              {{ option.statement }}
            </label>
          </div>
        }
    </div>
  }

  <div style="display: flex; gap: 1rem;">
    <button>Lançar formulário</button>
    <button class="btn btn-blue">Editar</button>
    <button type="submit" class="btn submit-btn" routerLink="/form">Voltar</button>
  </div>
</div>
