<div class="list-container">
  <div>
  </div>
  <h1>Formulários</h1>

  <!-- <div *ngIf="loading" class="loading">Carregando formulários...</div>
  <div *ngIf="error" class="error">{{ error </div> -->

  <div class="form-grid">
    @for (form of forms; track $index) {
      <div class="form-card">
        <h3>{{form.name}}</h3>
        <p>{{form.description}}</p>
        <div class="actions">
          <button class="btn view-btn" routerLink="/form-detail" [queryParams]="{id: form.id!}">Visualizar</button>
          <button class="btn edit-btn">Deletar</button>
        </div>
      </div>
    }
  </div>

  <div class="create-button">
    <button class="btn view-btn" routerLink="/create-form">Criar</button>
  </div>
</div>
