/* Container Principal */
.list-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 2em;
}

/* Grade de Formulários */
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Card de Formulário */
.form-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Título do Formulário */
.form-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #007bff;
}

/* Descrição */
.form-card p {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
}

/* Botões de Ação */
.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 0.9em;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-btn {
  background-color: #28a745;
}

.view-btn:hover {
  background-color: #218838;
}

.edit-btn {
  background-color: red;
}

.launch-btn{
  background-color: burlywood;
}

.edit-btn:hover {
  background-color: #0056b3;
}

/* Mensagens */
.loading,
.error,
.no-data {
  text-align: center;
  font-size: 1.2em;
  color: #555;
  margin-top: 20px;
}

.error {
  color: red;
}

.create-button{
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  justify-content: center;
}
