<div class="list-container">
  <h1>Formulários</h1>

  <!-- <div *ngIf="loading" class="loading">Carregando formulários...</div>
  <div *ngIf="error" class="error">{{ error </div> -->

  <div class="form-grid">
    <div class="form-card">
      <h3>Teste</h3>
      <p>Teste</p>
      <div class="actions">
        <button class="btn view-btn">Visualizar</button>
        <button class="btn edit-btn">Editar</button>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="!loading && forms.length === 0" class="no-data">
    Nenhum formulário encontrado.
  </div> -->
</div>
