<div class="form-container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <!-- Título do formulário -->
    <div class="form-title">
      <input
        formControlName="name"
        type="text"
        placeholder="Título do Formulário"
        class="form-title-input"
        required
      />
    </div>

    <!-- Descrição opcional do formulário -->
    <div class="form-description">
      <textarea
        formControlName="description"
        placeholder="Descrição (opcional)"
        class="form-description-textarea"
      ></textarea>
    </div>

    <!-- Lista de perguntas com drag-and-drop -->
    <div cdkDropList (cdkDropListDropped)="reordenarPerguntas($event)">
      @for (pergunta of perguntas.controls; track $index) {
      <ng-container formArrayName="questions">
        <div
        cdkDrag
        [formGroupName]="$index"
        class="question-card"
      >
        <!-- Campo da pergunta -->
        <p>{{$index+1}}</p>
        <input
          formControlName="statement"
          type="text"
          placeholder="Digite sua pergunta"
          class="question-input"
          required
        />
        <!-- Botão para remover pergunta -->
        <button type="button" class="remove-btn" (click)="removerPergunta($index)">
          Remover
        </button>
      </div>
      </ng-container>
      }

    </div>

    <!-- Botão para adicionar pergunta -->

    <!-- Botão para salvar formulário -->

    <div class="add-question">
      <button type="button" class="add-btn" (click)="adicionarPergunta()">
        + Adicionar Pergunta
      </button>
    </div>

    <div class="form-footer">
      <button type="submit" class="save-btn" (click)="goToForm()" [disabled]="!formulario.valid">
        Salvar Formulário
      </button>
    </div>

  </form>
</div>

